<h2 align = "center">Title: <%= @article.title %></h2>
<div class = "well col-xs-8 col-xs-offset-2">
  <%= render 'users/user_info', user: @article.user, well: nil%>
  <h4 class = "center article-description"><strong>Description:</strong><h4>
  <hr>
  <%= simple_format(@article.description) %>
  <div class = "article-action">

    <%= link_to 'Edit', edit_article_path(@article), 
    class: "btn btn-xs btn-primary" %>
     
    <%= link_to 'Delete', article_path(@article), 
    method: :delete, 
    data: { confirm: "Are you sure you want to delete the article"},
    class: "btn btn-xs btn-danger " %>

    <%= link_to 'Article List', articles_path,
    class: "btn btn-xs btn-success" %>
    
  </div>
</div> 