<h1> Intro </h1>

<%= link_to "About Page", welcome_about_path %>
<%= link_to "About Page", welcome_about_path %>
<%= link_to "About Page", welcome_about_path %>
<%= link_to "About Page", welcome_about_path %>
<%= link_to "About Page", welcome_about_path %>
<%= link_to "About Page", welcome_about_path %>

<div>
    
<%= image_tag 'sure-select@2x.png' %>

</div>


